/FlyEngine.Core/obj
/FlyEngine.Core/bin
/FlyEngine.Game/obj
/FlyEngine.Game/bin
/FlyEngine.Network/obj
/FlyEngine.Network/bin
/FlyEngine.Editor/obj
/FlyEngine.Editor/bin
/.idea
/FlyEngine.sln.DotSettings.user
/FlyEngine.Network/FlyEngine.Network.csproj.DotSettings
/FlyEngine.Editor/FlyEngine.Editor.csproj.DotSettings
/FlyEngine.Core/FlyEngine.Core.csproj.DotSettings
/FlyEngine.Game/FlyEngine.Game.csproj.DotSettings
/FlyEngine.Game/Temp